<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationPath" value="C:\Users\BaoGo\Documents\ClaudeCode_Project\SQA_AI_Automation\demo2_desktop_app\Demo2Desktop\bin\Debug\Demo2Desktop.exe" />
    <add key="ApplicationTitle" value="Demo2 Desktop App" />
    <add key="ProcessName" value="Demo2Desktop" />
    <add key="TestDataDirectory" value="C:\Users\BaoGo\Documents\ClaudeCode_Project\SQA_AI_Automation\demo2_desktop_app\Test_data" />
    <add key="SampleXlsx" value="X.xlsx" />
    <add key="SampleJson" value="TestType_Defect.json" />
    <add key="ImportTargetFile" value="TC01_import_copy.json" />
    <add key="InvalidSampleFile" value="_invalid_sample.txt" />
    <add key="DefaultTimeout" value="30000" />
    <add key="ElementTimeout" value="10000" />
    <add key="TakeScreenshotOnFailure" value="true" />
    <add key="ScreenshotDirectory" value="Screenshots" />
    <add key="WriteFailureLogOnFailure" value="true" />
    <add key="FailureLogDirectory" value="FailureLogs" />
  </appSettings>
</configuration>
